@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  display:flex;
  flex-direction: column;
}

.Body{
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.inventorylist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.links{
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.navbutton{
  background: #ed6b5a;
}

.delete {
background: #3ad886;
}

.edit {
background: #3ad886;
}

Button {
  padding: 10px;
  border-radius:  7x;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  
}

.logo{
  height: 50px;
  width: 50px;
  
  
}
.product_box {
  display: flex;
  justify-content: space-between;
  font-size: large;
}
.imgurl {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: xx-large;
}

.productname {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: xx-large;
}

.price {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

.buttons{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.product_img {
  width: 320px;
  height: 200px;
  margin: 0 auto;
  background-position: 50%;
  background-size: cover;
  
}

.productcontainer {
  width: 450px;
  height: 316px;
  background: #d34735;
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 20px;
}

.buttons_box {
  display: flex;
  justify-content: space-between;
}

header {
  width: 100vw;
 height: 100px;
 background-color: #ab2a19;
 display: flex;
 color: white;
 align-items: center;
 padding-left: 70px;
 
}

.form{
  width: 350px;
  height: 520px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 7px;
  background-color: #3ad886;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.form_image_preview {
  width: 320px;
  height: 200px;
  margin: 7px auto;
  background-position: 50%;
  background-size: cover;
  border: 1px solid #ab2a19;

}

.displayimg {
  width: 320px;
  height: 200px;
}

.FormHolder{
  margin-right: 50px;
  /* border: 1px solid green; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.Form{
  background-color: #3AD886;
  margin-top: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.Image{
  width: 80%;
  height: 215px;
  margin-top: 10px;
}
.ProductHolder{
  background-color: #D34735;
  width: 100%;
  height: 25vh;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}

  
.Dashboard{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  /* border: 1px solid yellow; */
  width: 40%;
}

.ProductImage{
  height: 80%;
  min-width: 60%;
  max-width: 60%;
  margin-left: 20px;
}

.TextHold{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Text{
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 5px;
}

.RightSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  margin-left: 10px;
  width: 33%;
}

.Buttons{
  display: flex;
  justify-content: space-between;
}

.GreenButton{
  background-color: #3AD886;
}

.FormInputs{
  width: 90%;
  margin: 20px 0;
}

.FormInput{
  width: 100%;
}

.ButtonHold{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.Cancel{
  background-color: #ED6B5A
}

.Submit{
  background-color: #ED6B5A;
}

button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  font-weight: 600;
  cursor: pointer;
}






