.App {
  text-align: center;
  width: 100%;
  
  display:flex;
  flex-direction: column;
  

}

.inventorylist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.links{
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.navbutton{
  background: #ed6b5a;
}

.delete {
background: #3ad886;
}

.edit {
background: #3ad886;
}

Button {
  padding: 10px;
  border-radius:  7x;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  
}

.logo{
  height: 50px;
  width: 50px;
  
  
}
.product_box {
  display: flex;
  justify-content: space-between;
  font-size: large;
}
.imgurl {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: xx-large;
}

.productname {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: xx-large;
}

.price {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

.buttons{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.product_img {
  width: 320px;
  height: 200px;
  margin: 0 auto;
  background-position: 50%;
  background-size: cover;
  
}

.productcontainer {
  width: 450px;
  height: 316px;
  background: #d34735;
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 20px;
}

.buttons_box {
  display: flex;
  justify-content: space-between;
}

header {
  width: 100vw;
 height: 100px;
 background-color: #ab2a19;
 display: flex;
 color: white;
 align-items: center;
 padding-left: 70px;
 
}

.form{
  width: 350px;
  height: 520px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 7px;
  background-color: #3ad886;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.form_image_preview {
  width: 320px;
  height: 200px;
  margin: 7px auto;
  background-position: 50%;
  background-size: cover;
  border: 1px solid #ab2a19;

}

.displayimg {
  width: 320px;
  height: 200px;
}





